/* Estilos gerais */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* Header */

   header {
      background-color: #1659bf;
      color: #fff;
      padding: 10px;
      text-align: center;
      font-family: "open_sansbold", Arial, Helvetica, sans-serif;
      line-height: 1em;
    }
  
  /* Estilos da barra de navegação */
  
  nav {
    color: #fff;
    background-color: #0f4098;
    
  }
  
  .logo {
    font-size: 24px;
    padding: 0 120px 0 0;
    margin: 0;
    color: rgb(255, 255, 255);
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display:inline-block;
  }
  
  .nav-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    padding: 20px;
  }

  
  .nav-links li a:hover {
    background-color: #5b80bf;
    transition: 0.35s;
  }
  
/* Estilos da seção de destaque */

.hero {
  background-color: #f2f2f2;
  padding: 100px 0;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Adicionado para centralizar horizontalmente */
  height: 100vh; /* Adicionado para ocupar toda a altura da viewport */
}

.hero h2 {
  font-size: 36px;
  margin: 0;
}

.hero p {
  font-size: 18px;
}
  
  /* Mais estilos do site aqui */
  